{% extends 'base.html'%}

<!-- block content  -->
{% block content%}
   <div class="container">
       <img src="{{ url_for('static',filename='img/about-bg.jpg') }}") center no-repeat;} width="1000px">
   </div><br> <br>

   <div class="container">
       <h3>About Us</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolorum veniam, aspernatur voluptate aliquid alias quae nihil ut aliquam sed deleniti dolorem molestias voluptates ad ratione, error neque recusandae velit?</p>
   </div>
{% endblock%}